body{
    font-family: 'Poppins', sans-serif;

}
h1{

    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 50px 5px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange , red );
    color: black;
    padding: 10px 40px;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/ms.jpg);
    background-repeat: no-repeat;
    
}
#db{
    background-color: chocolate;
    text-align: right;
}
#dream-style{
    margin-left: 10px;
}